* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(0, 0, 0);
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.menu {
    float: right;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin: 10px;
    padding: 2px;
    position: relative;
    top: -50px;
}

.menu ul li a {
    text-decoration: none;
    color: gray;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
}

.menu ul li a:hover {
    border-color: gray;
}

.logo {
    color: gray;
    margin-left: 10px;
}

.logo img {
    width: 100px;
}

@media screen and (max-width:600px) {
    .menu {
        margin-top: 100px;
        position: relative;
        right: 30%;
    }
    .menu ul li {
        display: block;
        margin-top: 30px;
        text-align: center;
    }
    .box select,
    .box input {
        font-size: 10px;
        width: 50px;
    }
    .logo {
        text-align: center;
    }
}

footer {
    background: black;
    width: 90%;
    margin: auto;
    overflow: hidden;
    color: gray;
    text-align: center;
}

.box {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.box select,
.box input {
    font-size: 20px;
}

#select_tamanho {
    background: gray;
    text-align: center;
    width: 90%;
    margin: auto;
    height: auto;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

h1 {
    font-size: 30px;
}

#ar,
#ar2,
#vol,
#vol2 {
    display: none;
}